MVC/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54881/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" />
  <xs:element name="GetCountrys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountrysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="GetCountrysResult" nillable="true" type="q1:ArrayOfCountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="GetCountryByIdResult" nillable="true" type="q2:CountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="CountryDTO" nillable="true" type="q3:CountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostCountryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="CountryDTO" nillable="true" type="q4:CountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutCountryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCountryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountrysByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountrysByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="GetAllCountrysByNameResult" nillable="true" type="q5:ArrayOfCountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="GetRegionsResult" nillable="true" type="q6:ArrayOfRegionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="GetRegionByIdResult" nillable="true" type="q7:RegionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="regionDto" nillable="true" type="q8:RegionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostRegionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="regionDto" nillable="true" type="q9:RegionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutRegionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRegionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRegionsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRegionsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="GetAllRegionsByNameResult" nillable="true" type="q10:ArrayOfRegionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="GetPlacesResult" nillable="true" type="q11:ArrayOfPlaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="GetPlaceByIdResult" nillable="true" type="q12:PlaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="PlaceDTO" nillable="true" type="q13:PlaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostPlaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="PlaceDTO" nillable="true" type="q14:PlaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutPlaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePlaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlacesByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlacesByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ApplicationSeriveces.DTOs" minOccurs="0" name="GetAllPlacesByNameResult" nillable="true" type="q15:ArrayOfPlaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>